@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
}



body{
  width: 80vw;
  margin: auto;
  text-align: center;
  font-family: 'Montserrat';
  line-height: 1.4;
}

h1,
h2,
h3{
  margin: 1rem 0 .5rem;
}

li{
  list-style-type: none;
}

.rules__winning-info{
  color: red;
  font-weight: bold;
  font-size: .8rem;
}

.playing-area{
  position: relative;
  padding-top: 1rem ;

  .start-screen{
    position: absolute;
    display: flex;
    top: 0;
    height: 120%;
    width: 100%;
    background: rgba($color: #3b4450, $alpha: .9);
    z-index: 1;

    .btn{
      cursor: pointer;
      margin: auto;
      color: white;
      background: rgb(240, 72, 100);
      padding: 1rem 2rem;
      border-radius: 30px;
      box-shadow: 0px 0px 20px 10px #fff;

      &:hover{
        background: rgb(253, 168, 182);
        transform: scale(1.2);
        font-weight: bold;
      }
    }
  }
}

.weapons{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &__item{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #000;

    padding: 2rem;
    margin: 0 1rem;
    box-shadow: 10px 10px 15px -4px rgba(0,0,0,0.58);
    }
  }

  .item--unicorns{
    background: url(../img/unicorn.png) center center/contain no-repeat;

    //Add title in before to make it clickable in comb with badge
    &::before{
      content: 'Unicorn';
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 1.7rem;
      background: rgb(224, 221, 6);
      box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.75);
    }
  }

  .item--donut{
    background: url(../img/donut.png) center center/contain no-repeat;

    //Add title in before to make it clickable in comb with badge
    &::before{
      content: 'Donut';
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 1.7rem;
      background: rgb(224, 221, 6);
      box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.75);
    }
  }
  .item--rock{
    background: url(../img/rock.png) center center/contain no-repeat;

    //Add title in before to make it clickable in comb with badge
    &::before{
      content: 'Rock';
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 1.7rem;
      background: rgb(224, 221, 6);
      box-shadow: 10px 10px 7px 0px rgba(0,0,0,0.75);
    }
  }

footer{
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

a{
  display: block;
  font-size: .8rem;
  color: lightgray;

  &:hover{
    color: rgb(196, 194, 194);
  }
}

.hide{
  visibility: hidden;
}